<!doctype html>
<html>
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        
    </head>
    <body>
        
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
        <script>
   // Submit form with class function.
   function submit_by_class() {
   var github_token = document.getElementById("githubtoken").value;
   var github_user = document.getElementById("githubuser").value;
   var offer = document.getElementById("partiallyid").value;
       
 //var offer = document.getElementById("offer").value;
   if (validation()) // Calling validation function
   {
   var x = document.getElementsByClassName("form_class");
   x[0].submit(); //form submission
   //alert(" Name : " + github_token + " n Email : " + github_user + " n Form Class : " + document.getElementById("form_id").getAttribute("class") + "nn Form Submitted Successfully......");
   const Http = new XMLHttpRequest();
//const url='https://demo.partial.ly/checkout?offer=e059e0f5-5bf3-4664-b598-8b66016bbedd&meta[github_user]=' + github_user + '&meta[github_token]=' + github_token + '&amount=12&meta[description]=Subscribe';
const url='https://demo.partial.ly/checkout?offer=+ offer + &meta[github_user]=' + github_user + '&meta[github_token]=' + github_token + '&amount={{ $plan.price }}&meta[description]=Subscribe';

console.log('url ', url);
window.location = url;
   }
   }

function validation() {
var github_user = document.getElementById("githubuser").value;
var github_token = document.getElementById("githubtoken").value;
//var emailReg = /^([w-.]+@([w-]+.)+[w-]{2,4})?$/;
if (github_user === '' || github_token === '') {
alert("Please fill all fields...!!!!!!");
return false;
} else {
return true;
}
}
</script>

    </body> 
</html>
