<section id="{{ .section.section_id }}" class="block pricing-block bg-{{ .section.bg }} outer">
    <div class="block-header inner-small">
    {{ if .section.title }}
    <h2 class="block-title">{{ .section.title }}</h2>
    {{ end }}
    {{ if .section.subtitle }}
    <p class="block-subtitle">
      {{ .section.subtitle | safeHTML }}
    </p>
    {{ end }}
  </div><!-- .block-header -->
  {{ if .section.pricingplans }}
  <div class="inner">
    <div class="grid">
      {{ range $plan := .section.pricingplans }}

      <div class="cell plan{{ if $plan.highlight }} highlight{{ end }}">
        <div class="plan-inside">
        <h3 class="plan-name">{{ $plan.title }}</h3>
        {{ if $plan.price }}
        <div class="plan-price">{{ $plan.price }}</div>
        {{ end }}
        <div class="plan-details">
          {{ partial "markdownify-block" $plan.details }}
          
          <form name="form_name" id="form-{{ $plan.partiallyid }}" class="subscribe-form">
          
          <p>Fill in your GitHub user and token to secure your Rodened server.</p>

            <div class="form-row"><label>
              <span class="screen-reader-text">GitHub User</span>
<input type="text" class="subscribe-email" name="github_user" id="githubuser-{{ $plan.partiallyid }}" placeholder="Enter GitHub User" style="margin-bottom:10px" />
              </label>
            </div>
          
              <div class="form-row"><label>
              <span class="screen-reader-text">GitHub Token</span>
<input type="text" class="subscribe-email" name="github_token" id="githubtoken-{{ $plan.partiallyid }}" placeholder="Enter GitHub Token" style="margin-bottom:10px" />
              </label>
            </div>
            
          
   <input type="submit" name="submit_class" id="btn_class" value="Subscribe" />
            
   <input type="hidden" name="partiallyid" id="partiallyid-{{ $plan.partiallyid }}" value="{{ $plan.partiallyid }}" />         
   </form>

   <script type="text/javascript"> 
  /* var logSubmit = "logSubmit";
    var validation = "validation";    
var go = {};
go[logSubmit] = logSubmit + {{ $plan.partiallyid }};  
go[validation] = validation + {{ $plan.partiallyid }}; */        
  function logSubmit(event) {
    event.preventDefault();
     var token = "token";
     var user = "user";
     var offer = "offer";
     var amount = "amount"; 
     var description = "description"; 
var plan = {};
plan[token] = token + {{ $plan.partiallyid }};
plan[user] = user + {{ $plan.partiallyid }};  
plan[offer] = offer + {{ $plan.partiallyid }};   
plan[amount] = amount + {{ $plan.partiallyid }};  
plan[description] = description + {{ $plan.partiallyid }};
plan[url] = url + {{ $plan.partiallyid }};       
    plan.amount = {{$plan.amount}};
    plan.description = {{$plan.description}};
    plan.token = document.getElementById("githubtoken-{{ $plan.partiallyid }}").value;
    plan.user = document.getElementById("githubuser-{{ $plan.partiallyid }}").value;
    plan.offer = document.getElementById("partiallyid-{{ $plan.partiallyid }}").value;
    if (plan.user !== '' && plan.token !== '') // Calling validation function
    {
      const Http = new XMLHttpRequest();
      const plan.url ='https://demo.partial.ly/checkout?offer='+ plan.offer + '&meta[github_user]=' + plan.user + '&meta[github_token]=' + plan.token + '&amount=' + plan.amount + '&meta[description]=' + plan.description;

      console.log('plan.url ', plan.url);
      window.location = plan.url;
    }
  }
  var id = "abc";
var mine = {};
mine[id] = {{ $plan.partiallyid }};
console.log(mine.abc);     
 var formprefix = {{ $plan.partiallyid }}; 
// var mine.abc = "form" + formprefix;      
  mine.abc = document.getElementById('form-{{ $plan.partiallyid }}');

  mine.abc.addEventListener('submit', logSubmit);
  function validation () {
   var token = "token";
     var user = "user";
     
var valid = {};
valid[token] = token + {{ $plan.partiallyid }};
valid[user] = user + {{ $plan.partiallyid }};  
 
   valid.token = document.getElementById("githubtoken-{{ $plan.partiallyid }}").value;
   valid.user = document.getElementById("githubuser-{{ $plan.partiallyid }}").value;
       console.log(valid.token);
    //var emailReg = /^([w-.]+@([w-]+.)+[w-]{2,4})?$/;
    if (valid.user === '' || valid.token === '') {
      alert("Please fill in all fields!");
      return false;
    } else {
      return true;
    }
  }
</script>
        </div>
        {{ if $plan.actions }}
          {{ $include_dict := dict "actions" $plan.actions }}
          {{ partial "cta_buttons.html" $include_dict }}
        {{ end }}
        </div><!-- .plan-inside -->
      </div><!-- .cell -->

      {{ end }}
    </div><!-- .grid -->
  </div><!-- .inner -->
  {{ end }}
  
</section><!-- .block -->
