<section id="{{ .section.section_id }}" class="block pricing-block bg-{{ .section.bg }} outer">
  <div class="block-header inner-small">
    {{ if .section.title }}
    <h2 class="block-title">{{ .section.title }}</h2>
    {{ end }}
    {{ if .section.subtitle }}
    <p class="block-subtitle">
      {{ .section.subtitle | safeHTML }}
    </p>
    {{ end }}
  </div><!-- .block-header -->
  {{ if .section.pricingplans }}
  <div class="inner">
    <div class="grid">
      {{ range $plan := .section.pricingplans }}

      <div class="cell plan{{ if $plan.highlight }} highlight{{ end }}">
        <div class="plan-inside">
        <h3 class="plan-name">{{ $plan.title }}</h3>
        {{ if $plan.price }}
        <div class="plan-price">{{ $plan.price }} {{ $plan.partiallyid }}</div>
        {{ end }}
        <div class="plan-details">
          {{ partial "markdownify-block" $plan.details }}
          
          <form action="#" method="post" name="form_name" id="form_id" class="form_class" >
          <input type="hidden" name="partiallyid" id="partiallyid" value="{{ $plan.partiallyid }}" />
          <p>Fill in your GitHub user and token to secure your Rodened server.</p>

   <label>GitHub User :</label>
   <input type="text" name="github_user" id="githubuser" placeholder="github_user" />
   <label>Github Token :</label>
   <input type="text" name="github_token" id="githubtoken" placeholder="github_token" style="margin-bottom:10px" />            
   <input type="button" name="submit_class" id="btn_class" value="Subscribe" onclick="submit_by_class()"/>
   </form>

   
        </div>
        {{ if $plan.actions }}
          {{ $include_dict := dict "actions" $plan.actions }}
          {{ partial "cta_buttons.html" $include_dict }}
        {{ end }}
        </div><!-- .plan-inside -->
      </div><!-- .cell -->

      {{ end }}
    </div><!-- .grid -->
  </div><!-- .inner -->
  {{ end }}
</section><!-- .block -->
